env.json
build
emoji.json
import.py

# Go stuff
*.o
*.a
*.so
_obj
_test
*.[568vq]
[568vq].out
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
*.exe
*.test
gin-bin
irlmoji

# Node stuff
node_modules
*.pid
logs
*.log
lib-cov
coverage
build/Release

# Ansible
ansible/roles/app/templates/env.json.j2
ansible/roles/nginx/templates/irlmoji.com.key.j2
ansible/roles/nginx/templates/irlmoji.com.pem.j2
ansible/roles/db/templates/AWS_ACCESS_KEY_ID.j2
ansible/roles/db/templates/AWS_SECRET_ACCESS_KEY.j2
ansible/roles/db/templates/WALE_S3_PREFIX.j2
ansible/group_vars/appserver

# Etc
ngrok.yml

# UGH
.DS_Store
