{
    "MARTINI_ENV": "development",
    "NODE_ENV": "development",
    "IRLMOJI_API_BASIC_USER": "8393jkniu39210najxbdfs",
    "IRLMOJI_COOKIE_SECRET": "@(*!jxkjewjibse43(#HAb",
    "IRLMOJI_PROXY_BACKEND_URL": "http://localhost:3000",
    "IRLMOJI_DBURI": "dbname=irlmoji host=localhost user=postgres password=postgres port=5432",
    "AWS_ACCESS_KEY_ID": "YOUR_AWS_ACCESS_KEY_ID",
    "AWS_SECRET_ACCESS_KEY": "YOUR_AWS_SECRET_ACCESS_KEY",
    "AWS_S3_BUCKET_NAME": "irlmoji",
    "TWITTER_CONSUMER_KEY": "YOUR_TWITTER_CONSUMER_KEY",
    "TWITTER_CONSUMER_SECRET": "YOUR_TWITTER_CONSUMER_SECRET",
    "TWITTER_CALLBACK_URL": "http://localhost:5000/auth/twitter/callback",
    "FRONTEND_URL": "http://localhost:5000",
    "API_URL": "http://localhost:3000"
}