upstream frontend {
    server 127.0.0.1:5000 max_fails=3 fail_timeout=0;
}

server {
    listen 80;
    server_name www.irlmoji.com;

    return 301 https://$host$request_uri;
}

server {
    listen 443;
    server_name www.irlmoji.com;

    access_log /var/log/nginx/frontend.https.access.log;
    root /home/{{ appuser }}/go/src/github.com/ericflo/{{ appname }};
    index index.html;
    keepalive_timeout 70;

    include /etc/nginx/spdy;

    location /__ngx_status__ {
        stub_status on;
        access_log off;
        break;
    }

    location /build {
        alias /home/{{ appuser }}/{{ appname }}/build;
        break;
    }

    location /images {
        alias /home/{{ appuser }}/{{ appname }}/build/images;
        break;
    }

    location /styles {
        alias /home/{{ appuser }}/{{ appname }}/build/styles;
        break;
    }

    location /javascript {
        alias /home/{{ appuser }}/{{ appname }}/build/javascript;
        break;
    }

    location / {
        proxy_buffering on;
        include /etc/nginx/proxy_params;
        proxy_pass http://frontend;
        break;
    }
}