*          soft    nofile         200000
*          hard    nofile         200000
root          soft    nofile         200000
root          hard    nofile         200000
{{ appuser }}          soft    nofile         200000
{{ appuser }}          hard    nofile         200000