@import "nprogress.less";

@margin: 20px;

.capture {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 72px;
    margin-top: -@margin;
}

.irlmoji {
    width: 100%;
    position: relative;
    margin-bottom: @margin;
    .clearfix();

    .userpic {
        position: absolute;
        width: 24%;
        top: 0;
        left: 0;
    }

    .emoji {
        position: absolute;
        width: 24%;
        padding: 2%;
        top: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .picture {
        float: left;
        max-width: 100%;
    }
}

.emoji-picker {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: white;

    .toolbar {
        .clearfix();
        .close {
            font-size: 36px;
            margin: 10px;
        }
    }

    .form-group {
        padding: 10px;
    }

    .emoji-list {
        margin-top: -20px;
    }

    li {
        list-style-type: none;
        list-style-position: outside;
        border-bottom: 1px solid #eee;

        img {
            margin: 1em;
        }

        .emoji {
            max-width: 2em;
        }
    }
}

.dz-preview {display: none}

.hide {display: none}

.clearfix() {
  zoom: 1;
  &:before { content: ''; display: block; }
  &:after { content: ''; display: table; clear: both; }
}